@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{ */
    ::-webkit-scrollbar{
        width: 10px;
    }
    ::-webkit-scrollbar-track{
        background-color: #224855;
    }
    ::-webkit-scrollbar-thumb{
        background-color: #FBE9D0;
    }
/* } */