.loading{
    width: 200px;
    height: 200px;
    display: inline-block;
    position: relative;
}
.loading::after, .loading::before{
    content: "";
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid #111;
    position: absolute;
    inset: 0;
    animation: animloader 3s linear infinite;
}

.loading::after{
    animation-delay: 1s;
}
@keyframes animloader{
    0%{
        transform: scale(0);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}